.signup
  .span6{ class: "offset3 header" }
    .logo
      %img{ src: "http://assets.lulcards.com/logo.png", width: 162, height: 43 }
  .span6{ class: "offset3 header" }
    .description.lead
      lulcards lets you send hilarious REAL postcards right from your phone.
    .description
      sign in now and get <b>3 free cards</b> to send today!
