.launch_faq
  .row
    .span2
      .logo
        =image_tag "InviteLogo.png", width: 162, height: 43
  .row
    .span6
      %h3
        Launch FAQ
      %h5
        I am asking all media outlets for an embargo on writing about lulcards until 4/30 at 10AM PST. Your compliance is appreciated!
      %h4
        What is it?
      .description
        %p
          lulcards is an app for iPhone that lets you create funny captioned photos and mail <b>real</b> printed copies 
          to any Facebook friend in the U.S.

        %p
          It's the only app will make your friends laugh when they open their mailbox. 
      %h4
        How do I get it?
      .description
        %p
          It is available in the App Store:<br/>
          %a{ href: "itms://itunes.apple.com/us/app/lulcards/id585112745?ls=1&mt=8" }
            itms://itunes.apple.com/us/app/lulcards/id585112745?ls=1&mt=8

        %p
          Homepage:<br/>
          %a{href: "http://lulcards.com", target: "_blank"}
            http://lulcards.com
      %h4
        How is it different than X, Y, Z?
      .description
        %p
          There are a lot of apps that let you send postcards. Postcards aren't funny.
          The cards you send with lulcards, on the other hand, provide an endless stream of comedy to your friends' mailboxes.

        %p
          lulcards is designed to help you create something that will make people laugh, and then mail it as a
          surprise to their mailbox. There is nothing else quite like it.

      %h4
        What else is cool about it?
      .description
        %p
          You can use your own photos or grab a friend's shared photos on Facebook. If you don't know someone's address, you
          can send them a Facebook message to ask for it and we'll save it automatically. You can add effects and filters, and
          your caption is styled as "meme-text". If you can't think of a caption, we have a bunch for you to pick from.

        %p
          Also, when your friends receive their card, they can scan it with the app to share it or create their own with your photo.
          They can also tear off a perforated wallet-sized copy to keep forever.
      %h4
        What's the revenue model?
      .description
        %p
          Your first three cards are free. After that, cards are $1.25.
        %p
          Or, you can buy credits up front to save up to 25%. You can also earn free credits by inviting friends.

      %h4
        Tell me about the company?
      .description

        Minddrop LLC is my own LLC for mobile development. I am a solo engineer/designer.

      %h4
        Who is the founder?
      .description
        %p
          I'm Greg Fodor. My Twitter and LinkedIn:
        %p
          %a{ href:"http://twitter.com/gfodor", target: "_blank" }
            http://twitter.com/gfodor
        %p
          %a{ href:"http://www.linkedin.com/pub/greg-fodor/1/98a/303", target: "_blank" }
            http://www.linkedin.com/pub/greg-fodor/1/98a/303

        %p
          Contact Info:
        %p
          gfodor@gmail.com<br>
          804-402-7912
        %p
          Here are a few more recent links about me:

        %p
          My startup, Adtuitive, was acquired by Etsy in 2009:

        %p
          %a{href: "http://www.etsy.com/blog/news/2009/handcrafting-etsy/", target: "_blank"}
            http://www.etsy.com/blog/news/2009/handcrafting-etsy/
        %p
          %a{href: "http://techcrunch.com/2009/12/18/etsy-buys-adtuitive/", target: "_blank"}
            http://techcrunch.com/2009/12/18/etsy-buys-adtuitive/
        %p
          One of my more popular projects at Etsy was covered by TechCrunch:

        %p
          %a{href: "http://techcrunch.com/2010/12/16/etsy-taste-test/", target: "_blank"}
            http://techcrunch.com/2010/12/16/etsy-taste-test/

        %p
          I moved on after 3 years at Etsy in December 2012. lulcards is a side project I built for myself that turned into something I wanted to share with the world.
      %h4
        What do the cards look like?
      .description
        %p
          %a{href: "http://d2uda3s1cvuahn.cloudfront.net/assets/InviteHandCard-844bc2ac37362eed8bf6e3425b0ef00a.png", target: "_blank"}
            Example
        %p
          %a{href: "http://data.lulcards.com/27/ae/9b/27ae9b7426b4c754c3ee8061021fc189.jpg", target: "_blank"}
            Detailed Front
        %p
          %a{href: "http://data.lulcards.com/de/4e/15/de4e15580487c0e429cab221222675ea.jpg", target: "_blank"}
            Detailed Back

      %h4
        Logo:
      .description
        %a{href: "https://s3-us-west-1.amazonaws.com/posto-assets/logo.png", target: "_blank"}
          %img{src: "https://s3-us-west-1.amazonaws.com/posto-assets/logo.png"}

      %h4
        Screenshots:
      .description
        %p
          %a{ href: "https://s3-us-west-1.amazonaws.com/posto-assets/screen1iphone5.png", target: "_blank" }
            Screen 1
        %p
          %a{ href: "https://s3-us-west-1.amazonaws.com/posto-assets/screen2iphone5.png", target: "_blank" }
            Screen 2
        %p
          %a{ href: "https://s3-us-west-1.amazonaws.com/posto-assets/screen3iphone5.png", target: "_blank" }
            Screen 3
        %p
          %a{ href: "https://s3-us-west-1.amazonaws.com/posto-assets/screen4iphone5.png", target: "_blank" }
            Screen 4
        %p
          %a{ href: "https://s3-us-west-1.amazonaws.com/posto-assets/screen5iphone5.png", target: "_blank" }
            Screen 5
      %h5
        All media above is free to redistribute.
    .span3
      =image_tag "InviteHandCard.png", width: 208, height: 267
