%b
  Your order has been cancelled.
%div{ style: "color: #303030" }
  %p
    Your #{@app.name} order <b>##{@card_order.order_number}</b> had to be cancelled because your payment method was declined.
  %p
    We're really sorry for the inconvenience. If you re-submit your order using the #{@app.name} app you can enter new payment info.
