%b
  Your order has been cancelled.
%div{ style: "color: #303030" }
  %p
    Your lulcards order <b>##{@card_order.order_number}</b> had to be cancelled because your recipients never responded with their addresses.
  %p
    We're really sorry for the inconvenience. If you re-submit your order using the lulcards app you can send another request to your recipients.
