%b
  Thank you for your order.
%div{ style: "color: #303030" }
  %p
    Your #{@app.name} order <b>##{@card_order.order_number}</b> has been received.
  %p
    We will print your order once we have collected all the addresses for your recipients.
%p
