%b
  You earned #{@earned_credits} credits.
%div{ style: "color: #303030" }
  %p
    #{@referred_user.user_profile.name} signed up for #{@app.name}, so you earned a #{@earned_credits} credit bonus.
  %p
    Invite more friends to earn more credits to send free cards!
