!!!
%html
  %body{ style: "background-color: black; color: white; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;" }
    %div{ style: "margin:auto; width: 400px;"}
      %center
        %p
        %img{width: 162, height: 43, src: "http://s3-us-west-1.amazonaws.com/posto-assets/logo.png" }
        %p
        coming soon to the App Store

