.signup {
  .header {
    padding: 12px;
    text-align: center;
  }

  .tagline {
    color: white;
  }
}

body.black {
  .description {
    color: #EEEEEE;
  }
}

body.white {
  .description {
    color: #777;
  }
}


.launch_faq {
  color: white;
  padding: 24px;

  .header {
    text-align: center;
  }
}
