.recent-messages ul {
  margin-bottom: 0px;
}

.query-edit {
  margin-top: 10px
}

.query-edit textarea {
  width: 200px
}

.recent-messages ul li a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.query-result {
  font-weight: bold;
}

#complete-form input {
  display: none;
}
