%form{ method: :POST, action: "/admin/promo_codes" }
  %label{ for: "credits" }
    Credits:
  %input{ type: "text", name: "credits" }
  %select{ name: "app" }
    %option{ value: "lulcards" }
      lulcards
    %option{ value: "babygrams" }
      babygrams
  %p
    %input{ type: "submit", value: "Create" }
