body.gift {
  background-color: white;
}

.left-panel {
  float: right;
  text-align: right;
  margin-right: 80px;
}

.gift-page {
  margin-top: 20px;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #888888;
}

h4 {
  font-family: "Neuton", sans-serif;
  font-weight: 300;
  color: #888888;
}

label {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
