.row.gift-page
  .span12
    %div{style: "margin:auto;"}
      = image_tag "#{@app.name}/MainLogo.png", width: 300, height: 84

    %h3{width: "100%"}
      To send a babygram, you need to open this page from your phone.
