!!! 5
%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
      %body{ style: "margin:0; padding: 0; font-family: arial, helvetica, sans-serif; font-size: 14px; background-color: #CCCCCC;" }
        %table{width: "100%"}
          %tr
            %td{width: "5%"}
              &nbsp;
            %td{width: "90%"}
              =yield
            %td{width: "5%"}
              &nbsp;
