!!! 5
%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body{ style: "margin:0; padding: 0; font-family: arial, sans-serif; font-size: 14px" }
    .header{ style: "background-color: black; margin: 0px auto; width: 90%; height: 70px; border-radius: 8px; padding: 0; color: white;" }
      .header-content{ style: "padding: 13px; padding-left: 20px;" }
        %img{ src: "https://s3-us-west-1.amazonaws.com/posto-assets/#{@app.name}/email_logo_1%402x.png", width:164, height:44 }
    .content{ style: "width: 90%; margin: 0px auto; padding: 0px;" }
      %div{ style: "float: left; padding-top: 25px; padding-bottom: 25px; margin-top:25px; background-color: #fafafa; border-radius: 16px; border: 1px solid #efefef; width: 100%;" }
        - if @card_design
          %img{ style:"float: left; width: 10%; min-width: 50px; margin-bottom: 15px; margin-left: 25px; border:1px solid #888888;", src: @card_order.card_design.card_preview_composition.treated_card_preview_image.public_url }
        %div{ style: "float: left; width: 80%; margin-left:25px;"}
          =yield
